# Dependencies
node_modules/

# Environment variables
.env
.env.*
!.env.example

# Build files
dist/
build/

# Logs
*.log
npm-debug.log*

# Expo
.expo/
.expo-shared/

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/